# Node modules
node_modules/

# Banco de dados local
pedidos.db

# Servidor local
server.js

# Logs e caches
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# VSCode settings
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos temporários
*.tmp
*.swp